#root {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.hero {
  display: flex;
  align-items: center;
  gap: 0 10px;

  h1 {
    font-size: 2.5em;
  }

  img {
    width: 48px;
  }
}

header {
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
}

main {
  margin: 50px 0;
  padding: 40px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #root {
    width: 100%;
    padding: 1rem;
  }

  .hero {
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }

  header {
    flex-direction: column;
    height: auto;
  }

  main {
    margin: 20px 0;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: row;
    justify-content: flex-start;
  }

  main {
    padding: 10px;
  }
}
